h2{
    color: white;
}
div{
    background-color: black;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
}
            
abbr{
    color: rgb(32, 234, 72);
}